:root {
  font-family: "Poppins", sans-serif;
}

body {
  background: #F4F5F8;
}

* {
  color: #1F2126;
  margin: 0;
  padding: 0;
}

/* Board */
.tickets-board {
  padding: 2rem;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 auto !important;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* Board column */
.ticket-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.tickets-board {
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

/* Ticket */
.ticket {
  background-color: #fff;
  min-width: 300px;
  max-width: 350px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.group-box {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.group-info {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.group-info h2 {
  font: 14px;
  color: #1e1f22;
}

.ticket-count {
  color: #A1A2A6;
  font-size: 18px;
}

.request {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.request h3 {
  font-size: 16px;
}

.request span {
  font-size: 12px;
}

.icon {
  align-items: center;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border: 1px solid;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  border-width: 1px;
  border-color: #d1d5db;
}

.user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-box p {
  color: #A1A2A6;
}

.avatar {
  border-radius: 100%;
  font-size: 10px;
  padding: 10px;
  background-color: #d1d5db;
}

.custom-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f3f4f6;
  border-radius: 9999px;
}

.tag {
  font-weight: 500;
  color: #A1A2A6;
}

/* Navbar */
.controls {
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 10;
}

.dropbtn {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  gap: 10px;
  background: transparent;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 50;
  padding: 10px 15px;
  border-radius: 10px;
}

.dropdown-item {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select {
  position: relative;
  min-width: 200px;
}

.select select {
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}

.select select:required:invalid {
  color: #5a667f;
}

.select select option {
  color: #223254;
}

.select select option[value=""][disabled] {
  display: none;
}

.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover+svg {
  stroke: #07f;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

/* Media queries for all devices */
@media only screen and (max-width: 600px) {

  .tickets-board {
    margin: 1rem;
    max-width: 100%;
  }

  .box {
    flex-direction: column;
  }

  .ticket-column {
    margin: 0 auto;
  }

  .group-info h2 {
    font-size: 1rem;
  }

  .ticket {
    min-width: 90%;
    margin: 10px auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .ticket-column {
    margin: 0 auto;
  }

  .ticket {
    min-width: 90%;
    margin: 10px auto;
  }

  .group-info h2,
  .ticket-count {
    font-size: 1rem;
  }

  .request h3 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .ticket-column {
    margin: 0 auto;
  }

  .ticket {
    min-width: 45%;
    margin: 10px;
  }

  .group-info h2,
  .ticket-count {
    font-size: 1rem;
  }

  .request h3 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1200px) {

  .ticket-column {
    margin: 0 auto;
  }

  .group-info h2,
  .ticket-count {
    font-size: 1.2rem;
  }

  .request h3 {
    font-size: 1rem;
  }

  .ticket {
    min-width: 30%;
    margin: 10px;
  }
}